.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 16px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.button-items .button {
    font-size: 13px;
    font-weight: 500;
    margin-right: 10px;
    padding: 6px 10px;
    background: #fff;
    border: 1px solid #303030;
    border-radius: 4px;
    outline: none;
    position: relative;
}

.top {
    min-width: 50px;
    background: #000;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: all .3s;
}

.top::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #000;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
}

.left {
    min-width: 50px;
    background: #000;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    display: block;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(-10px, -50%);
    transition: all .3s;
}

.left::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: #000;
    position: absolute;
    right: -10px;
    bottom: 50%;
    transform: translateY(50%);
}

.right {
    min-width: 50px;
    background: #000;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(10px, -50%);
    transition: all .3s;
}

.right::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #000;
    position: absolute;
    left: -10px;
    bottom: 50%;
    transform: translateY(50%);
}

.bottom {
    min-width: 50px;
    background: #000;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: all .3s;
}

.bottom::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #000;
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
}

.hide {
    display: none;
}